<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="shortcut icon" href="{{ asset('bundles/centreformation/images/ecam.gif') }}" />
	
	{% block stylesheets %}
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
		<style>
			body {
				padding-top: 130px;
			}
			@-moz-document url-prefix() {
				fieldset {
					display: table-cell;
				}
			}
			html * {
				outline: 0 !important;
			}
			button.navbar-toggle {
				margin-top: 33px;
			}
			.navbar-brand,
			.navbar-nav li a {
				line-height: 100px;
				height: 100px;
				padding-top: 0;
			}
			nav > .container {
				width:98%;
			}
			@media (max-width: 767px) {
				.navbar-nav > li > a {
					line-height: 20px;
					padding-top: 10px;
					height: 40px;
				}
			}
			.aucunFormateur {
				font-style: italic;
				color: red;
			}
		</style>
	{% endblock %}

</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand pull-left" href="{{ path('_accueil') }}">
					<img src="{{ asset('bundles/centreformation/images/ecam.gif') }}" alt="ECAM" />
				</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li {% if activeTab == 'accueil' %} class="active" {% endif %}><a href="{{ path('_accueil') }}">Accueil</a></li>
					<li {% if activeTab == 'formations' %} class="active" {% endif %}><a href="{{ path('_formations') }}">Formations</a></li>
					<li {% if activeTab == 'formateurs' %} class="active" {% endif %}><a href="{{ path('_formateurs') }}">Formateurs</a></li>
					<li {% if activeTab == 'remunerations' %} class="active" {% endif %}><a href="{{ path('_remunerations') }}">Rémunérations</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">

		{% block body %}
		{% endblock %}

	</div>

	{% block javascripts %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			// This script fixes the shift that occurs in a centered layout
			// when the page grows and forces scrollbars to appear.
			$(function () {
				var body = $("body");

				var previousWidth = null;

				var resizeBody = function () {
					var currentWidth = body.width();
					if (currentWidth != previousWidth) {
						previousWidth = currentWidth;

						body.css("overflow", "hidden");
						var scrollBarWidth = body.width() - currentWidth;
						body.css("overflow", "auto");

						body.css("margin-left", scrollBarWidth + "px");
					}
				};
				setInterval(resizeBody, 100);
				resizeBody();
			});
		</script>
	{% endblock %}

</body>
</html>